{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #1E1E1E;
        color: #DADADA;
    }
    input[type="range"]::-webkit-slider-thumb {
        background-color: #8A5CF5;
    }
    
    input[type="range"]::-moz-range-thumb {
        background-color: #8A5CF5;
    }
    
    input[type="range"]::-ms-thumb {
        background-color: #8A5CF5;
    }
</style>
<div class="container mt-5" style="background-color: #1E1E1E;">
    <div class="card" style="background-color: #262626;">
        <div class="card-body text-center" style="color: #8A5CF5;">
            <!-- Song Details Section -->
            <h2 class="card-title">Song Details</h2>
            {% if song %}
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #262626; color: #DADADA;">Title: {{ song.song_title }}</li>
                <li class="list-group-item" style="background-color: #262626; color: #DADADA;">Genre(s): {{ song.genre }}</li>
                <li class="list-group-item" style="background-color: #262626; color: #DADADA;">Length: {{ song.durasi }}</li>
                <li class="list-group-item" style="background-color: #262626; color: #DADADA;">Release Date: {{ song.tanggal_rilis }}</li>
                <li class="list-group-item" style="background-color: #262626; color: #DADADA;">Year: {{ song.tahun }}</li>
                <li class="list-group-item" style="background-color: #262626; color: #DADADA;">Total Downloads: {{ song.total_unduhan }}</li>
                <li class="list-group-item" style="background-color: #262626; color: #DADADA;">Album: {{ album.album_title }}</li>
            </ul>
            {% else %}
            <p>No song details found.</p>
            {% endif %}

            <!-- Control Buttons -->
            <div class="mt-4">
                <button class="btn btn-primary mr-2" style="background-color: #8A5CF5; color: #DADADA;">Play</button>
                <button class="btn btn-success mr-2" data-toggle="modal" data-target="#addToPlaylistModal" style="background-color: #8A5CF5; color: #DADADA;">Add to Playlist</button>
                {% if is_premium %}
                <button class="btn btn-info mr-2" data-toggle="modal" data-target="#downloadConfirmationModal" style="background-color: #8A5CF5; color: #DADADA;">Download</button>
                {% endif %}
                <a href="#" class="btn btn-secondary" style="background-color: #8A5CF5; color: #DADADA;">Return</a>
            </div>
        </div>
    </div>
</div>

<!-- Add to Playlist Modal -->
<div class="modal fade" id="addToPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="addToPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #262626;">
                <h5 class="modal-title" id="addToPlaylistModalLabel" style="color: #B3B3B3;">Add to Playlist</h5>
            </div>
            <div class="modal-body" style="background-color: #262626; color: #B3B3B3;">
                <form id="addToPlaylistForm">
                    <div class="form-group">
                        <label for="playlistTitle">Song Title</label>
                        <input type="text" class="form-control" id="playlistTitle" value="{{ song.song_title }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="artist">Artist</label>
                        <input type="text" class="form-control" id="artist" value="{{ artist.nama_artis }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="playlistSelect">Select Playlist</label>
                        <select class="form-control" id="playlistSelect">
                            <option>Playlist 1</option>
                            <option>Playlist 2</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color: #262626;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #8A5CF5; color: #DADADA;">Close</button>
                <button type="submit" class="btn btn-primary" style="background-color: #8A5CF5; color: #DADADA;">Add Song</button>
            </div>
        </div>
    </div>
</div>

<!-- Download Confirmation Modal -->
<div class="modal fade" id="downloadConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="downloadConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #262626;">
                <h5 class="modal-title" id="downloadConfirmationModalLabel" style="color: #B3B3B3;">Download Song</h5>
            </div>
            <div class="modal-body" style="background-color: #262626; color: #B3B3B3;">
                <p>Song successfully downloaded!</p>
            </div>
            <div class="modal-footer" style="background-color: #262626;">
                <a href="#" class="btn btn-primary" style="background-color: #8A5CF5; color: #DADADA;">Go to Downloads</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #8A5CF5; color: #DADADA;">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}