{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}

<style>
    body {
        background-color: #1E1E1E;
        color: #DADADA;
    }
    .card {
        background-color: #262626;
        color: #B3B3B3;
    }
    .btn {
        background-color: #8A5CF5;
        color: #DADADA;
    }
</style>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="text-center">User Playlist Detail</h4>
            {% if playlist %}
            <ul class="list-group">
                <li class="list-group-item"><b>Judul:</b> {{ playlist.judul }}</li>
                <li class="list-group-item"><b>Pembuat:</b> {{ playlist.pembuat }}</li>
                <li class="list-group-item"><b>Jumlah Lagu:</b> {{ playlist.jumlah_lagu }}</li>
                <li class="list-group-item"><b>Total Durasi:</b> {{ playlist.total_durasi|format_duration }}</li>
                <li class="list-group-item"><b>Tanggal Dibuat:</b> {{ playlist.tanggal_dibuat }}</li>
                <li class="list-group-item"><b>Deskripsi:</b> {{ playlist.deskripsi }}</li>
            </ul>
            {% else %}
            <p>Detail playlist tidak ditemukan.</p>
            {% endif %}

            <div class="text-center mt-3">
                <a href="{% url 'shuffle-play' playlist_id = playlist_id %}" class="btn btn-primary">Shuffle Play</a>
                <a href="{% url 'kelola-user' %}" class="btn btn-secondary">Kembali</a>
            </div>

            <h4 class="text-center mt-4">Daftar Lagu</h4>

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Judul Lagu</th>
                        <th>Oleh</th>
                        <th>Durasi</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>{{ song.song_title }}</td>
                        <td>{{ song.artist_name }}</td>
                        <td>{{ song.durasi|format_duration }}</td>
                        <td>
                            <a href="{% url 'play-song' song_id = song.id %}" class="btn btn-info">Lihat</a>
                            <button class="btn btn-warning">Play</button>
                            <form method="post" action="{% url 'delete-from-playlist' playlist_id = playlist.id_user_playlist song_id = song.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Hapus</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSongModal">Tambah Lagu</button>
        </div>
    </div>
</div>

<div class="modal fade" id="addSongModal" tabindex="-1" role="dialog" aria-labelledby="addSongModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #262626; color: #B3B3B3;">
            <div class="modal-header">
                <h5 class="modal-title" id="addSongModalLabel">Tambal Lagu</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'add-song' playlist_id = playlist_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="song_artist">Song: Title - Artist</label>
                        <input type="text" class="form-control" id="song_artist" name="song_artist" placeholder="Enter title - artist">
                    </div>
                    <input type="hidden" name="playlist_id" value="{{ playlist.id_user_playlist }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}