{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Create Album</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_album.css' %}">
{% endblock meta %}

{% block content %}
    <body class="body-album">
        <div class="container">
            <h2>Create Album</h2>
            <form>
              <div class="form-group">
                <label for="judul">Judul:</label>
                <input type="text" class="form-control" id="judul" placeholder="Judul Album">
              </div>
              <div class="form-group">
                <label for="label">Label:</label>
                <select class="form-control" id="label">
                  <!-- Option list for labels (to be populated dynamically) -->
                  <!-- For now, let's assume some sample options -->
                  <option>Label 1</option>
                  <option>Label 2</option>
                  <option>Label 3</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary-2">Submit</button>
            </form>
          </div>
        
          <!-- Bootstrap JS and dependencies -->
          <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    </body>
{% endblock content %}