{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Kelola Album dan Song</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">


{% endblock meta %}

{% block content %}
    <body style="margin-top: 2vw; margin-bottom: 3vw; background-color: #1E1E1E;">
        <div class="body-con-kas">
            <!-- Tabel Album -->
            <div class="table-div">
                
                <h1>List Album</h1>
                <h6> Owner: {{ nama }} </h6>
                <table class="rwd-table">
                <tr>
                    <th>Judul</th>
                    <th>Label</th>
                    <th>Jumlah Lagu</th>
                    <th>Total Durasi</th>
                    <th>Action</th>
                </tr>
                {% for album in data_album  %}
                <tr>
                    
                    <td>{{ album.1 }}</td>
                    <td>{{ album.2 }}</td>
                    <td>{{ album.3 }}</td>
                    <td>{{ album.4 }}</td>
                    <td>
                        <div class="column-table">
                            <form method="post" action="{% url 'kelola_album_song:kelola_album_song' %}">
                                {% csrf_token %}
                                <button class="btn-column" name="list-lagu" value="{{ album.0 }}"> Lihat Daftar Lagu </button>
                            </form>
                            <form method="post" action="{% url 'kelola_album_song:create-lagu' %}">
                                {% csrf_token %}
                                <button class="btn-column" name="tambah-lagu" value="{{ album.1 }}"> Tambah Lagu </button>
                            </form>
                            <form method="post" action="{% url 'kelola_album_song:delete-album' %}">
                                {% csrf_token %}
                                <button class="btn-column" name="deleted-album" value="{{ album.0 }}"> Hapus </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

            <div class="container-button" style="justify-content: center; text-align: center;">
                <form method="post" action="{% url 'kelola_album_song:create-album' %}">
                    {% csrf_token %}
                    <button class="btn-CR"> Buat Album </button>
                </form>
            </div>
            
            <!-- Tabel Lagu -->
            {% if nama_album %}
            <div class="table-div">
                <h1>List Lagu pada {{ nama_album.0 }}</h1>
                <table class="rwd-table">
                <tr>
                    <th>Judul</th>
                    <th>Durasi</th>
                    <th>Total Play</th>
                    <th>Total Download</th>
                    <th>Action</th>
                </tr>
                {% for lagu in list_lagu %}
                <tr>
                    <td>{{ lagu.1 }}</td>
                    <td>{{ lagu.2 }}</td>
                    <td>{{ lagu.3 }}</td>
                    <td>{{ lagu.4 }}</td>
                    <td>
                        <div class="column-table">
                            <form method="POST" action="{% url 'playlist:play-song' lagu.0 %}">
                                {% csrf_token %}
                                <button class="btn-column"> Lihat Detail </button>
                            </form>
                            <form method="POST" action="{% url 'kelola_album_song:delete-lagu' %}">
                                {% csrf_token %}
                                <button class="btn-column" name="deleted-lagu" value="{{ lagu.0 }}"> Hapus </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>

            {% endif %}
        </div>
    </body>

{% endblock content %}