{% extends 'base.html' %} {% block meta %} {{ block.super }} {% endblock meta %}
{% block content %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
    background-color: #1e1e1e;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  table {
    width: 100%;
    max-width: 600px;
    background-color: #8a5cf5;
    color: #ffffff;
    margin-top: 20px;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  .detail-button,
  .download-button {
    background-color: #ffffff;
    color: #8a5cf5;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
  }
  .not-found {
    color: #ffffff;
    font-size: 20px;
  }
</style>

<div class="container py-5">
  <div class="text-center mb-5">
    <h1 style="color: #8a5cf5">Hasil Pencarian "{{ dicari }}"</h1>
  </div>
  {% if search_songs %}
  <table id="resultsTable">
    <thead>
      <tr>
        <th>Tipe</th>
        <th>Judul</th>
        <th>Oleh</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for song in search_songs %}
      <tr>
        <td>{{ song.type }}</td>
        <td>{{ song.judul }}</td>
        <td>{{ song.oleh }}</td>
        <td>
          {% if song.type == 'PODCAST' %}
          <a href="">
            <button class="detail-button">Lihat</button>
          </a>
          {% if song.type == 'USER_PLAYLIST' %}
          <a href="">
            <button class="detail-button">Lihat</button>
          </a>
          {% else %}
          <a href="{% url 'playlist:play-song' song_id=song.id_konten %}">
            <button class="detail-button">Lihat</button>
          </a>
          {% endif %} {% if 'Premium' in list_role and song.type == 'SONG' %}
          <a href="{% url 'downloaded:download_song' id_song=song.id_konten %}">
            <button class="download-button">Download</button>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="not-found">
    Maaf, pencarian untuk "{{ dicari }}" tidak ditemukan
  </div>
  {% endif %}
</div>
{% endblock content %}
